.main-content .note {
    &::before {
        content: '📌 Note';
        display: block;
        font-weight: bold;
        font-size: 1.3em;
        margin-bottom: 0.1em;
    }

    margin-top: 1em;
    margin-bottom: 2em;
    background-color: $table-background-color;
    border: 3px solid $border-color;
    padding: 1em 1.2em;
}

.site-header, .main-header {
    max-height: 95px;
    height: 60px;

    @media (min-width: 50rem) {
        max-height: 95px;
        height: 95px;
    }
}